.module-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #fff;
  transition: all 0.3s ease;
}

.course-detail{
  max-width: 1200px;
  margin: auto;
}

.module-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
  cursor: pointer;
  font-weight: bold;
  background-color: #f7f7f7;
}

.module-header:hover {
  background-color: #eaeaea;
}

.module-header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.accordion-arrow {
  font-size: 14px;
  color: #555;
}

.quiz-badge {
  background-color: #ffcc00;
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
}

.module-content-accordion {
  padding: 12px 16px;
  border-top: 1px solid #ddd;
}

.module-actions {
  margin-top: 12px;
  display: flex;
  gap: 8px;
}

.complete-btn,
.quiz-btn {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.complete-btn {
  background-color:#ffcc00;
  color: #fff;
}

.complete-btn.completed {
  background-color: #888;
}

.quiz-btn {
  background-color: #550a8a;
  color: #fff;
}

video {
  max-width: 100%;
  max-height: 700px;
  border-radius: 8px;
  margin-top: 8px;
}


.video-wrapper {
  width: 100%;
  max-height: 700px;
  overflow: hidden;
  border-radius: 8px;
  margin-top: 8px;
}

.video-wrapper video {
  width: 100%;      /* fill the container width */
  height: 100%;     /* fill the container height */
  object-fit: cover; /* scale and crop if necessary */
  border-radius: 8px;
}


/* Mobile responsive adjustments */
@media screen and (max-width: 768px) {
  .module-video {
    max-height: 250px; /* smaller height on mobile */
  }
}

@media screen and (max-width: 480px) {
  .module-video {
    max-height: 200px; /* even smaller for small phones */
  }
}